@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font: 'Lato', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color:lightgray;
    font-family: var(--font);
}

p {
    font-size: 1.5em;
    padding: 0.8em;
    color: #E2A518;
    font-weight: bolder;    
}

h2 {
    font-size: 1.5em;    
}

button {
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
	font-size: 1.8em;
	background-color: #E2A518;
	border: 1px solid #707070;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
	box-sizing: border-box;	
	text-align: center;
}

button:hover {
    border: 2px solid rgba(255, 255, 255, 0.600);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transition: transform 0.5s, border 0.3s;
} 


/* Início do Header com Menu */

header {
    background-color:#B9B8B8;
    color: white;
    text-align: center;
}
header a, footer a {
    color: white; 
    text-decoration: none;
    font-weight: bolder;
}

header > a > img {
    height: 60px;
    padding: 10px;    
    text-align: center;
}

i#burguer {
    background-color: rgb(48, 48, 48);
    color:#E2A518;
    display: block;
    text-align: center;
    padding: 10px;
}

i#burguer:hover {
    background-color: #707070;
    color: #E2A518;
    transition: transform 0.5s, border 0.3s;
    cursor: pointer;
}

menu {
    display: none;
    font-family: 'Lato', sans-serif;
    font-weight: bolder; 
    font-size: 1.0em;
	margin: auto;
}
menu > ul {
    list-style-type: none;
    padding: 5px;   
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 3.5vw;
    text-align: center;
    background-color: #E2A518;
    color: #35363A;
    border-top: 1px solid #35363A;
    border-radius: 15px;
}

menu > ul > li > a:hover {
    border: 2px solid rgba(255, 255, 255, 0.600);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transition: transform 0.5s, border 0.3s;
}

/* Final do Header com Menu */

section {    
    line-height: 1em;    
    font-family: var(--font);
    font-size: 2.2vw;
}

section#cadastro {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 25vh;       
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-size: cover;    
    background-image: url(../imagem/BG_2.jpg);
    background-position: left center;
}

.cadastro {       
    height: 6vh;
    width: 26vw;
    border-radius: 40px;        
}

.btn {
    padding-right: 10vw;
}

section#servicos {   
    height: 48vh;
    padding-top: 3vh; 
    background-image: url(../imagem/Foto_Satélite_da_Nasa.png);
    background-position: center;
    background-size: cover;          
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-size: cover;
    text-align: center;    
}

div.servico {
    text-align: left;
    padding-left: 30px;    
}

div.img-servicos > a > img {
    display: inline-block;
    height: 20vh;    
} 

section.imagem#servicos > a > img:hover {    
    transform: translate(1px, -1px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.600);
    transition: transform 0.5s, border 0.3s;
}

div.normal {  
    height: 25vh;
    padding-top: 2vh;
    line-height: 0.8em;
    font-size: 2.2vw;
    background-color: #4B4B4B;
    text-align: center;
}

div.acesso {
    text-align: left;
    padding-left: 30px;    
}

img.acesso {
    height: 18vh;
    text-align: center;    
}

section#sensores {
    height: 28vh; 
    background-color: #b9b8b82d;
    padding-top: 3vh;    
    padding-bottom: 20vh;
    color: black;
    text-align: center;
}

div.sensores {
    padding-left: 30px;  
    text-align: left; 
}

div.img-sensores > a > img {
    display: inline-block;
    height: 20vh;    
} 

section.normal#sensores > a > img:hover {    
    transform: translate(1px, -1px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.600);
    transition: transform 0.5s, border 0.3s;
}

section#amostra {
    height: 30vh;
    background-image: url(../imagem/lagoa_dos_patos.png);
    background-position: left center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.amostra {
    margin-top: 8vh;    
    height: 6vh;
    width: 85vw;
    border-radius: 40px; 
}

footer {
    margin: 0;
    padding: 0;
    background-color: #b9b8b82d;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box; 
    color: white;
    padding: 20px;
}

.container-footer { 
    max-width: 1400vw; 
    padding: 0 4%;
    margin: auto;              
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 30%;
    padding: 10 15px;
}

h4 {
    color: #E2A518;
    font-size: 1.0em;
    text-shadow: 0.5px 0.5px 0px black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

ul, li {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    text-transform: capitalize;
    color: black;
    font-weight: 300;
    display: block;
    text-decoration: none;
    list-style: none;
    margin: 10px 0;
    transition: all 0.3s ease;
}
ul, li:hover {
    color: #707070;
    padding-left: 10px;
} 



