@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font: 'Lato', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color:lightgray;
    font-family: var(--font);
}

/* Início do Header com Menu */

header {
    background-color:rgb(148, 148, 148);
    color: white;
    text-align: center;
}
header a, footer a {
    color: white; 
    text-decoration: none;
    font-weight: bolder;
}

header > h1 {
    padding: 25px;
    font-variant: small-caps;
    font-size: 5vw;
    text-align: center;
}

i#burguer {
    background-color: rgb(48, 48, 48);
    color:white;
    display: block;
    text-align: center;
    padding: 10px;
}

i#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

menu {
    display: none; 
}
menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: gray;
}

/* Final do Header com Menu */

section {    
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font);
    font-size: 3.5vw;
    border-radius: 5px;
}

section > p {
    padding: 0.8em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px black;
}

div.normal {
    padding-top: 2vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 2.5vw;
}

footer {
    background-color: darkgray;
    text-align: center;
    color: white;
    padding: 10px;
}



